@import "styles/abstracts/variables";

@mixin outline {
    .mat-form-field-outline-start,
    .mat-form-field-outline-gap,
    .mat-form-field-outline-end {
        @content;
    }
}

// modify the Angular Material styles

.app-container {
    // remove the thick border and apply theme color to the selected input
    .mat-form-field-appearance-outline .mat-form-field-outline-thick {
        @include outline {
            border-width: 1px;
            color: $theme-color;
        }
    }

    // apply a border color for an invalid field
    .mat-form-field-appearance-outline.mat-form-field-invalid {
        @include outline {
            color: $color-error;
        }
    }

    // used for incorrect credentials error
    .error {
        .mat-form-field-appearance-outline,
        .mat-form-field-appearance-outline .mat-form-field-outline-thick {
            @include outline {
                color: $color-error;
            }
        }

        .mat-form-field-label {
            color: $color-error;
        }
    }

    // adjust input height
    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0.7em;
        margin-top: -.5em;
    }

    .mat-form-field-subscript-wrapper {
        position: relative !important;
    }

    // remove bottom padding
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
        padding: 0;
    }

    // remove bottom margin
    .mat-form-field-subscript-wrapper {
        margin: 0;
    }

    // mat-error {
    //     margin-bottom: 2rem;
    // }

    form {
        width: 30rem;
    }
}
