// FONT SIZES
$font-size-s: 1.2rem;
$font-size-sx: 1.3rem;
$font-size-sm: 1.4rem;
$font-size-m: 1.6rem;
$font-size-ml: 1.8rem;
$font-size-l: 2rem;
$font-breakpoint-1: 450px;
$font-breakpoint-2: 1000px;
$font-breakpoint-3: 1800px;
// COLORS
$color-snow: #FFFAFA;
$color-royal-blue: #4169E1;
$color-main: $color-royal-blue;
$color-background: $color-snow;
$color-gray: #808080;
$color-dim-grey: #696969;
$color-fire-brick : #B22222;
$color-primary: #3f51b5;

$theme-color: $color-primary;
