* {
  // font-family: "Lato", sans-serif;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: $font-size-sm;
  // color: $color-dim-grey;

  // @include respond-min ($font-breakpoint-1) {
  //     font-size: $font-size-sm;
  // }
  // @include respond-min ($font-breakpoint-2) {
  //     font-size: $font-size-m;
  // }
  // @include respond-min ($font-breakpoint-3) {
  //     font-size: $font-size-ml;
  // }
}
